body{
 font-family: Roboto, sans-serif, Helvetica;
}

.section-one,
.footer{
    background-color: #1f2937;
}

.header-logo{
    color: #f9faf8;
    font-size: 24px;
}

.header-links{
    list-style: none;
    color: #e5e7eb;
    font-size: 18px;
}