body{
 font-family: Roboto, sans-serif, Helvetica;
}

.section-one,
.footer{
    background-color: #1f2937;
}

.header-logo{
    color: #f9faf8;
    font-size: 24px;
    margin-right: 400px;
}

.header-links{
    list-style: none;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 0;
}

.headers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section-one h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.section-one p{
    font-size: 18px;
    color: #e5e7eb;
}