body{
 font-family: Roboto, sans-serif, Helvetica;
}

.section-one,
.footer{
    background-color: #1f2937;
}

.header-logo{
    color: #f9faf8;
    font-size: 24px;
}

.header-links li{
    /* color: #e5e7eb; */
    color: red;
    font-size: 18px;
}